body{
    background-image: linear-gradient(180deg,  #FC984C, #834945);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

ul{
    display: flex;
    justify-content: center;
}

p{
    text-align: left;
}


.nav {
    position: fixed;
    margin-left: 1%;
}

footer {
    position: fixed;
    bottom: 0;
    color: #32334dc2;
    background-color: white;
    font-size: larger;
}
