body{
    background-image: linear-gradient(180deg,  #FC984C, #834945);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

ul{
    display: flex;
    justify-content: center;
}


.hero{
    justify-content: center;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    width: 800px;
    background-color: #32334d77;
    color: #ffb834;
    padding-right: 50px;
    text-align: center;
    border-radius: 15px;
}

p{
    text-align: left;
}

.hero-container{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.hero-picture{
    float: left;
    height: auto;
    width: 400px;
    padding-right: 5%;
}

.button-outer{
}


.button-small {
    background-color: #32334dd7;
    color: #ffb834;
    padding: 15px;
    width: 160px;
    margin-left: 2%;
    margin-top: 5%;
    font-weight: bold;
    text-decoration: none;
    border-color: #32334d00;
    border-style: solid;
}

.button-small:hover {
    color: #32334D;
    background-color: #FC984C;
    transition: 0.8s;
    border-color: #32334d;
    border-style: solid;
}

.button-small-hero {
    background-color: #32334dd7;
    color: #ffb834;
    padding: 15px;
    width: 160px;
    margin-left: 2%;
    margin-top: 5%;
    font-weight: bold;
    text-decoration: none;
    border-color: #32334d00;
    border-style: solid;
    border-radius: 10px;
}

.button-small-hero:hover {
    color: #32334D;
    background-color: #FC984C;
    transition: 0.8s;
    border-color: #32334d;
    border-style: solid;
}

.button-caro {
    background-color: #32334d00;
    color: #ffb834;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    border-color: #32334d00;
    border-style: solid;
    font-size: x-large;
}

.button-caro:hover {
    color: #FC984C;
    transition: 0.8s;
}

.nav {
    position: fixed;
    margin-left: 1%;
}

.podcast-list {
    justify-content: center;
    list-style: none;
}

.podcast {
    padding: 1%;
    list-style: none;
    background-color: #32334dd7;
    width: 150px;
    height: 150px;
    color: #ffb834;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    text-align: left;
    font-size: small;
    border-radius: 20px;
}

.podcast-box {
    text-align: center;
}

.podcast-img{
    height: auto;
    width: 150px;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    color: #32334dc2;
    background-color: white;
    font-size: larger;
}
