*{
    margin:0;
    padding:0;
}

body{
    background-image: linear-gradient(180deg,  #FC984C, #834945);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

p{
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    color: #32334dc2;
    background-color: white;
    font-size: larger;
}



